*.py[cod]
*$py.class
venv/
ENV/
.env
.pytest_cache/
.vscode/ 
.idea/
.venv/
checkpoints/
Configs/
Datasets/
Losses/
Models/
SemiUncs/checkpoints/
SemiUncs/visualizations/
Utils/
visualizations/
inpsectData.py
overfit_test.py
sanity_check.py
test_loss.py
test_v2.py
train.py
train_v2.py
train_v2_updated.py
train_v3_actual.py
validate.py
Data/
